body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Sans serif, Verdana, Geneva, Tahoma;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #7209B7;
    color: #4CC9F0;
    border-bottom: 6px solid #B5179E;
    border-radius: 4px;
    box-shadow: 10px 10px darkblue;
    background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    transform: rotateZ(4deg);
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.card hover{
    box-shadow: 5px 5px blue, 10px 10px red, 15px 15px green;
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

